{% extends 'taxi/basic.html' %}

{% block title %} Information Page {% endblock %}
{% block body %}

<br>
<br>
<br>
<div class="container">
    <h1 style="text-align:center">IIT Guwahati Taxi Fare Chart</h1>
    <hr style="height:2px;border-width:0;color:gray;background-color:gray">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th></th>
                <th class="text-center">
                    Panbazaar
                </th>
                <th class="text-center">
                    Jalukbari
                </th>
                <th class="text-center">
                    Airport
                </th>
                <th class="text-center">
                    Paltanbazaar
                </th>
                <th class="text-center">
                    GS Road
                </th>
                <th class="text-center">
                    Maligaon
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th class="text-nowrap" scope="row">Swift Dzire</th>
                <td style="text-align:center">₹ 200</td>
                <td style="text-align:center">₹ 350</td>
                <td style="text-align:center">₹ 450</td>
                <td style="text-align:center">₹ 280</td>
                <td style="text-align:center">₹ 240</td>
                <td style="text-align:center">₹ 200</td>
            </tr>
            <tr>
                <th class="text-nowrap" scope="row">Maruti Alto</th>
                <td style="text-align:center">₹ 200</td>
                <td style="text-align:center">₹ 350</td>
                <td style="text-align:center">₹ 400</td>
                <td style="text-align:center">₹ 350</td>
                <td style="text-align:center">₹ 350</td>
                <td style="text-align:center">₹ 350</td>
            </tr>
            <tr>
                <th class="text-nowrap" scope="row">Carpool</th>
                <td style="text-align:center">₹ 100</td>
                <td style="text-align:center">₹ 250</td>
                <td style="text-align:center">₹ 290</td>
                <td style="text-align:center">₹ 150</td>
                <td style="text-align:center">₹ 150</td>
                <td style="text-align:center">₹ 200</td>
            </tr>
            <tr>
                <th class="text-nowrap" scope="row">Innova</th>
                <td style="text-align:center">₹ 200</td>
                <td style="text-align:center">₹ 350</td>
                <td style="text-align:center">₹ 550</td>
                <td style="text-align:center">₹ 300</td>
                <td style="text-align:center">₹ 250</td>
                <td style="text-align:center">₹ 350</td>
            </tr>
            <tr>
                <th class="text-nowrap" scope="row">Indica</th>
                <td style="text-align:center">₹ 200</td>
                <td style="text-align:center">₹ 250</td>
                <td style="text-align:center">₹ 450</td>
                <td style="text-align:center">₹ 350</td>
                <td style="text-align:center">₹ 300</td>
                <td style="text-align:center">₹ 190</td>
            </tr>
        </tbody>
    </table>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock %}